/*
 * Hoja de estilos para la aplicación JavaFX
 * 
 * Define estilos personalizados para los componentes de la interfaz de usuario.
 * 
 * Created on : Mar 1, 2025, 11:33:37 PM
 * Author     : juane
 */

/* ---------- Botones ---------- */
.boton-hover {
    -fx-background-color: #3B82F6; /* Color normal del botón */
    -fx-text-fill: white; /* Texto en color blanco */
    -fx-border-radius: 6px; /* Bordes redondeados */
    -fx-background-radius: 6px;
}

.boton-hover:hover {
    -fx-background-color: #2563EB; /* Color más oscuro cuando el cursor está encima */
}

/* Botón de iniciar sesión con efecto de elevación */
#btnIniciarSesion {
    -fx-background-color: #3B82F6; /* Color normal */
    -fx-text-fill: white;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI Bold";
    -fx-cursor: hand;
    -fx-transition: 0.3s;
}

#btnIniciarSesion:hover {
    -fx-background-color: #2563EB; /* Color más oscuro en hover */
    -fx-translate-y: -2px; /* Efecto de elevación */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 15, 0.3, 0, 5); /* Sombra */
}

/* ---------- Botones ---------- */
.boton-hover {
    -fx-background-color: #3B82F6; /* Color normal del botón */
    -fx-text-fill: white; /* Texto en color blanco */
    -fx-border-radius: 6px; /* Bordes redondeados */
    -fx-background-radius: 6px;
}

.boton-hover:hover {
    -fx-background-color: #2563EB; /* Color más oscuro cuando el cursor está encima */
}

/* Botón de Registrarse con efecto de elevación */
#btnRegistrarse {
    -fx-background-color: #3B82F6; /* Color normal */
    -fx-text-fill: white;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI Bold";
    -fx-cursor: hand;
    -fx-transition: 0.3s;
}

#btnRegistrarse:hover {
    -fx-background-color: #2563EB; /* Color más oscuro en hover */
    -fx-translate-y: -2px; /* Efecto de elevación */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 15, 0.3, 0, 5); /* Sombra */
}

/* Botón de postular con efecto de elevación */
#btnPostularProyecto {
    -fx-background-color: #3B82F6; /* Color normal */
    -fx-text-fill: white;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI Bold";
    -fx-cursor: hand;
    -fx-transition: 0.3s;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 3);
}

#btnPostularProyecto:hover {
    -fx-background-color: #2563EB; /* Color más oscuro en hover */
    -fx-translate-y: -2px; /* Efecto de elevación */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 15, 0.3, 0, 5); /* Sombra */
}

#btnCargarDatos {
    -fx-background-color: #3B82F6; /* Color normal */
    -fx-text-fill: white;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI Bold";
    -fx-cursor: hand;
    -fx-transition: 0.3s;
}

#btnCargarDatos:hover {
    -fx-background-color: #2563EB; /* Color más oscuro en hover */
    -fx-translate-y: -2px; /* Efecto de elevación */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 15, 0.3, 0, 5); /* Sombra */
}

#btnModificarDatos {
    -fx-background-color: #3B82F6; /* Color normal */
    -fx-text-fill: white;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI Bold";
    -fx-cursor: hand;
    -fx-transition: 0.3s;
}

#btnModificarDatos:hover {
    -fx-background-color: #2563EB; /* Color más oscuro en hover */
    -fx-translate-y: -2px; /* Efecto de elevación */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 15, 0.3, 0, 5); /* Sombra */
}

/* ---------- Campos de texto ---------- */

/* Estilo para el campo de usuario */
#txtUsuario {
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 16px;
    -fx-text-fill: rgba(255, 255, 255, 0.9); /* Color del texto con opacidad */
}

/* Estilo para el campo de contraseña */
#txtPassword {
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 16px;
    -fx-text-fill: rgba(255, 255, 255, 0.7); /* Color ligeramente más tenue */
}

/* Estilo para el campo de usuario */
#txtRegUsuario {
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 16px;
    -fx-text-fill: rgba(255, 255, 255, 0.9); /* Color del texto con opacidad */
}

/* Aplicar este estilo a todos los TextField */
.text-field {
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 16px;
    -fx-text-fill: rgba(255, 255, 255, 0.9); /* Color del texto con opacidad */
}
/* Estilo para el campo de contraseña */
#txtRegPassword {
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 16px;
    -fx-text-fill: rgba(255, 255, 255, 0.7); /* Color ligeramente más tenue */
}

/* Estilo para el campo de texto visible de la contraseña */
#txtVisiblePassword {
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 16px;
    -fx-text-fill: rgba(255, 255, 255, 0.7);
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-border-color: transparent; /* Sin bordes */
}

/* Estilo para el campo de usuario */
#txtObjetivo {
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 16px;
    -fx-text-fill: rgba(255, 255, 255, 0.9); /* Color del texto con opacidad */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 3);
}


/* ---------- Botones del dashboard ---------- */
.boton-dashboard {
    -fx-background-color: #16191C; /* Color oscuro del botón */
    -fx-text-fill: white;
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
    -fx-padding: 10px 70px;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI Bold";
    -fx-cursor: hand; /* Cambia el cursor a una mano */
    -fx-transition: 0.3s;
    -fx-alignment: center-left; /* Alinea el texto a la izquierda */
    -fx-padding-left: 70px; /* Espaciado en el lado izquierdo */
}

/* Estilo hover para el botón del dashboard */
.boton-dashboard:hover {
    -fx-background-color: #1F2327; /* Color ligeramente más claro al pasar el mouse */
    -fx-translate-y: -2px; /* Efecto de elevación */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 15, 0.3, 0, 5); /* Sombra */
}

/* ---------- Gráficos y estadísticas ---------- */
.chart {
    -fx-background-color: #1E2126; /* Fondo oscuro */
    -fx-padding: 10px;
    -fx-background-radius: 10px;
}

.chart-plot-background {
    -fx-background-color: #1E2126; /* Asegura el fondo del área de gráficos */
}

/* Colores personalizados para las barras del gráfico */
.default-color0.chart-bar {
    -fx-bar-fill: #3B82F6; /* Azul para "Recibidos" */
}
.default-color1.chart-bar {
    -fx-bar-fill: #FBBF24; /* Naranja claro para "Aceptados" */
}
.default-color2.chart-bar {
    -fx-bar-fill: #10B981; /* Verde para "Rechazados" */
}
.default-color3.chart-bar {
    -fx-bar-fill: #6B21A8; /* Morado para "Cerrados" */
}

/* Estilos de las líneas de la gráfica */
.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}
.chart-horizontal-grid-lines {
    -fx-stroke: rgba(255, 255, 255, 0.5); /* Líneas blancas con opacidad */
}

/* Estilo de los textos en los ejes */
.axis {
    -fx-tick-label-fill: rgba(255, 255, 255, 0.7);
    -fx-font-size: 14px;
}

/* Estilo de la leyenda del gráfico */
.chart-legend {
    -fx-background-color: transparent;
}
.chart-legend-item-symbol {
    -fx-background-radius: 10px;
}

/* Estilo de los textos en la leyenda */
.chart-legend-item {
    -fx-text-fill: rgba(255, 255, 255, 0.8);
    -fx-font-size: 14px;
}

/* ---------- Campos de texto de la descripción de vacante ---------- */
#txtNombreVacante {
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 16px;
    -fx-text-fill: rgba(255, 255, 255, 0.9);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 3);
}

/* Estilo del área de texto para la descripción de la vacante */
#txtDescripcionVacante {
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 16px;
    -fx-text-fill: rgba(255, 255, 255, 0.9);
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 3);
}

#txtDescripcionVacante .content {
    -fx-background-color:  #292D34; /* Fondo oscuro para el área de texto */
}

#txtDescripcionVacante .scroll-pane {
    -fx-background-color: transparent;
}

#txtDescripcionVacante .scroll-pane .viewport {
    -fx-background-color:  #292D34; /* Fondo de la caja de texto */
}

/* Estilo del área de texto para la descripción de la vacante */
#txtComentario {
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 16px;
    -fx-text-fill: rgba(255, 255, 255, 0.9);
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 3);
}

#txtComentario .content {
    -fx-background-color:  #292D34; /* Fondo oscuro para el área de texto */
}

#txtComentario .scroll-pane {
    -fx-background-color: transparent;
}

#txtComentario .scroll-pane .viewport {
    -fx-background-color:  #292D34; /* Fondo de la caja de texto */
}

#cboEstadoProyecto {
    -fx-background-color: #1E2126;  /* Fondo oscuro */
    -fx-border-color: transparent;  /* Sin bordes */
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI";
}

/* Color del texto en el ComboBox cuando está cerrado */
#cboEstadoProyecto .list-cell {
    -fx-text-fill: white;  /* Texto blanco */
}

/* Color del texto del elemento seleccionado */
#cboEstadoProyecto .combo-box-popup .list-view .list-cell {
    -fx-text-fill: white;  /* Texto blanco */
    -fx-background-color: #1E2126; /* Fondo oscuro */
}

/* Color del texto cuando pasas el mouse sobre las opciones */
#cboEstadoProyecto .combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #333333; /* Color más oscuro */
}

/* Flecha del ComboBox */
#cboEstadoProyecto .arrow-button {
    -fx-background-color: #1E2126; /* Mismo color que el fondo */
}

/* Color de la flecha dentro del botón */
#cboEstadoProyecto .arrow-button .arrow {
    -fx-background-color: white;  /* Flecha blanca */
}

/* Color del texto cuando no hay selección */
#cboEstadoProyecto:empty .list-cell {
    -fx-prompt-text-fill: white;  /* Texto en blanco si está vacío */
}



#txtPresupuestoVacante {
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 16px;
    -fx-text-fill: rgba(255, 255, 255, 0.9);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 3);
}

#txtMotivoContacto {
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 16px;
    -fx-text-fill: rgba(255, 255, 255, 0.9);
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 3);
}

#txtMotivoContacto .content {
    -fx-background-color:   #1E2126; /* Fondo oscuro para el área de texto */
}

#txtMotivoContacto .scroll-pane {
    -fx-background-color: transparent;
}

#txtMotivoContacto .scroll-pane .viewport {
    -fx-background-color:   #1E2126; /* Fondo de la caja de texto */
}

#txtComentario .content {
    -fx-background-color:   #1E2126; /* Fondo oscuro para el área de texto */
}

#txtComentario  .scroll-pane {
    -fx-background-color: transparent;
}

#txtComentario  .scroll-pane .viewport {
    -fx-background-color:   #1E2126; /* Fondo de la caja de texto */
}


/* ---------- Barra de desplazamiento en el área de descripción ---------- */
#txtDescripcionVacante .scroll-bar {
    -fx-background-color: #1E2126; /* Color de fondo de la barra de desplazamiento */
}

/* Estilo para la parte móvil de la barra de desplazamiento */
#txtDescripcionVacante .scroll-bar .thumb {
    -fx-background-color: #2A2D32; /* Color del slider (ligeramente más claro) */
    -fx-background-radius: 5px;
}

/* Estilo para los botones de desplazamiento */
#txtDescripcionVacante .scroll-bar .increment-button,
#txtDescripcionVacante .scroll-bar .decrement-button {
    -fx-background-color: #1E2126; /* Color del fondo */
    -fx-background-radius: 5px;
}

#txtMotivoContacto .scroll-bar {
    -fx-background-color: #1E2126; /* Color de fondo de la barra de desplazamiento */
}

/* Estilo para la parte móvil de la barra de desplazamiento */
#txtMotivoContacto .scroll-bar .thumb {
    -fx-background-color: #2A2D32; /* Color del slider (ligeramente más claro) */
    -fx-background-radius: 5px;
}

/* Estilo para los botones de desplazamiento */
#txtMotivoContacto .scroll-bar .increment-button,
#txtMotivoContacto .scroll-bar .decrement-button {
    -fx-background-color:  #1E2126; /* Color del fondo */
    -fx-background-radius: 5px;
}

#txtComentario .scroll-bar {
    -fx-background-color: #1E2126; /* Color de fondo de la barra de desplazamiento */
}

/* Estilo para la parte móvil de la barra de desplazamiento */
#txtComentario .scroll-bar .thumb {
    -fx-background-color: #2A2D32; /* Color del slider (ligeramente más claro) */
    -fx-background-radius: 5px;
}

/* Estilo para los botones de desplazamiento */
#txtComentario .scroll-bar .increment-button,
#txtComentario .scroll-bar .decrement-button {
    -fx-background-color:  #1E2126; /* Color del fondo */
    -fx-background-radius: 5px;
}


/* Estilo del área de texto para el resumen de la vacante */
#txtResumenVacante {
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 16px;
    -fx-text-fill: rgba(255, 255, 255, 0.9);
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 3);
}

#txtResumenVacante .content {
    -fx-background-color: #292D34; /* Fondo oscuro para el área de texto */
}

#txtResumenVacante .scroll-pane {
    -fx-background-color: transparent;
}

#txtResumenVacante .scroll-pane .viewport {
    -fx-background-color:  #292D34; /* Fondo de la caja de texto */
}

/* ---------- Barra de desplazamiento en el área de descripción ---------- */
#txtResumenVacante .scroll-bar {
    -fx-background-color: #1E2126; /* Color de fondo de la barra de desplazamiento */
}

/* Estilo para la parte móvil de la barra de desplazamiento */
#txtResumenVacante .scroll-bar .thumb {
    -fx-background-color: #2A2D32; /* Color del slider (ligeramente más claro) */
    -fx-background-radius: 5px;
}

/* Estilo para el datePicker  */
.date-picker {
    -fx-background-color:  #292D34;
    -fx-border-color: transparent;
    -fx-background-radius: 6px;
    -fx-padding: 5px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 3);
}

.date-picker .arrow-button {
    -fx-background-color: #292D34;
    -fx-border-color: white;
    -fx-border-width: 0 0 0 1;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: white;
}

.date-picker .editor {
    -fx-background-color: #292D34;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-font-size: 14px;
}

/* Fondo del popup del calendario */
.date-picker-popup {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 10px;
}

/* Cabecera (mes y año) */
.date-picker-popup .month-year-pane {
    -fx-background-color: #292D34;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* Texto del mes y año en blanco */
.date-picker-popup .month-year-label {
    -fx-text-fill: white;
}

/* Bspacio del mes y año */
.date-picker-popup .spinner {
    -fx-background-color: green;
}

.date-picker-popup .spinner .label {
    -fx-text-fill: white;  /* Color del texto */
}

.date-picker-popup .spinner:hover {
    -fx-text-fill: green;
    -fx-background-color: red;
}

.date-picker-popup .spinner .button {
    -fx-background-color: red;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
}

.date-picker-popup .spinner .button:hover {
    -fx-background-color: #3A3F44;
}

/* Celdas de los días */
.date-picker-popup .day-cell {
    -fx-border-color: #292D34;
    -fx-background-color: #292D34;
    -fx-text-fill: #4A90E2;
    -fx-font-weight: bold;
}

/* Días de la semana */
.date-picker-popup .day-name-cell {
    -fx-background-color: #292D34;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.date-picker-popup .cell {
    -fx-border-width: 0 0 0 1;
}

.date-picker-popup .day-cell:hover {
    -fx-background-color: #82868C;
    -fx-text-fill: white;
}

/* Día seleccionado */
.date-picker-popup .selected {
    -fx-background-color: #292D34;
    -fx-text-fill: white;
}

.table-view {
    -fx-background-color: #1E2126;
    -fx-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #16191C;
    -fx-min-height: 50px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0, 0, 3);
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-min-height: 50px;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.table-row-cell {
    -fx-background-color: #262626;
    -fx-border-color: transparent;
    -fx-text-fill: white;
}

.table-row-cell:odd {
    -fx-background-color: #212121;
}

.table-row-cell:selected {
    -fx-background-color: #333333;
    -fx-text-fill: white;
}

.table-cell {
    -fx-padding: 8px;
    -fx-text-fill: white;
    -fx-alignment: center-left;
}

.table-cell .icon {
    -fx-alignment: center-right;
}



/*Combo Box rolUser*/

#cboRolUser {
    -fx-background-color:  #1E2126;  /* Color de fondo oscuro */
    -fx-border-color: transparent;  /* Sin bordes visibles */
    -fx-border-radius: 5px;         /* Bordes redondeados */
    -fx-padding: 5px;
    -fx-text-fill: #B0B0B0;         /* Color del texto */
    -fx-font-size: 14px;
}

/* Flecha del ComboBox */
#cboRolUser .arrow {
    -fx-background-color: #B0B0B0; /* Color de la flecha */
}

/* Lista desplegable */
#cboRolUser .list-cell {
    -fx-background-color:  #1E2126;
    -fx-text-fill: #B0B0B0;
    -fx-font-size: 12px;
    -fx-font-family: "Segoe UI Regular";
}

/* Hover en la lista */
#cboRolUser .list-cell:hover {
    -fx-background-color: #333333;
}




